/* Navbar CSS */
.navbar-collapse {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}
.navbar-collapse.show {
    height: auto;
}

/* LandingPage CSS */
.main-banner {
    height: 46%;
}
.header-text {
    font-size: 100px;
    font-weight: 500;
}
.ads-banner {
    background-color: rgba(0,0,0,0.5);
    min-height: 300px;
}
.product-box {
    background-color: rgba(150,70,10,0.5);
    height: 280px;
    width: 240px;
    margin: 20px;
}